

/*=============================================
=            Reglas generales            =
=============================================*/

body{
    overflow-x: hidden;
}


/*=====  End of Reglas generales  ======*/



/*----------  Remueve el icono de 000webhost  ----------*/
img[alt="www.000webhost.com"]{
	display: none;
}


/*=============================================
=            Steps            =
=============================================*/

#register-steps-container{
    font-family: 'Raleway';
    display: flex;
    color: white;
    width: 95%;
}

.step-container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 25%;
    margin: 1% 0 1%;
    border-right: 2px solid var(--dim-green);
}

.step-container:last-child{
    border-right: none;
}

.step-container.current-step{
    margin: 0;
    background-color: var(--dim-green);
}

.step-text{
    margin: auto;
}


/*=============================================
=            inputs            =
=============================================*/


/*----------  View Title  ----------*/

#view-title{
    font-family: 'Roboto Mono';
    background-color: var(--dim-background);
    width: 100%;
    color: rgba(77, 77, 77, 0.85);
    font-size: 2.2rem;
    padding: 3% 5%;
}


/*----------  Inputs container  ----------*/

#view-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2%;
}


/*----------  Input alone and its container  ----------*/

.input-container{
    flex-shrink: 0;
    width: 50%;
    margin-top: 3%;
}

.input-container input, .input-container select, .input-container textarea{
    font-family: 'Raleway';
    display: block;
    background-color: var(--dim-background);
    width: 80%;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    margin: 1% auto;
    padding: 2%
}

.input-container label{
    font-family: 'Roboto Mono';
    color: var(--grey-font);
    margin-left: 7%;
}

.input-container select#gender-input{
    border-radius: 0px;
}

.center-input{
    margin: 3% auto 0;
}

#section-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 0 2%; */
    margin: 4% auto;
}

#section-container{
    background-color: var(--dim-background);
}

#section-container .input-container{
    width: 15% !important;
    margin: 3%;
}

#section-container .input-container input{
    width: 3%;
    margin: 6% 70% 0 24%;
    padding: 0;
}

/*=============================================
=            Controls            =
=============================================*/

#steps-nav-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1% 0 3%;
}

.std-btn{
    cursor: pointer;
    background-color: var(--dim-blue);
    text-align: center;
    width: 7%;
    color: white;
    border-radius: 5px;
    border: 2px solid var(--dim-blue);
    padding: 1% 0;
    transition: all 0.2s ease-in-out;
}

.std-btn:hover, .std-btn.std-btn.dim-btn:hover {
    background-color: var(--dim-green);
    color: white;
    border: 2px solid var(--dim-green);
}

.std-btn.dim-btn{
    background: white;
    border: 2px solid var(--dim-blue);
    color: var(--dim-blue);
}


/*=============================================
=            Finished screen            =
=============================================*/

#finish-container{
    width: 100%;
    text-align: center;
}

#finish-logo-container{
    font-size: 12rem;
}

#finish-logo-container.blue{
    color: var(--neutral);
}

#finish-logo-container.red{
    color: rgb(212, 59, 59);
}

.title-text{
    font-family: 'Roboto Mono';
    font-size: 1.3rem;
}









