@import url("colort.css");


/*=============================================
=            Container            =
=============================================*/

#register-header{
    display: flex;
    background-color: var(--blue);
    flex-direction: row;
    -webkit-box-shadow: 2px 22px 143px -7px rgba(130,130,130,0.85);
    -moz-box-shadow: 2px 22px 143px -7px rgba(130,130,130,0.85);
    box-shadow: 2px 22px 143px -7px rgba(130,130,130,0.85);
}


/*=============================================
=            modal btn            =
=============================================*/

#modalnav-btn-container{
    cursor: pointer;
    display: flex;
    height: 8ch;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 5%;
}

#modalnav-btn-container:hover span{
    font-size: 2rem;
    transition: all 0.1s ease-in;
}

/* #modalnav-btn-container:active{
    box-shadow: inset 1px 5px 30px -7px rgba(130,130,130,0.85)
} */

#modalnav-btn-container span{
    font-size: 1.8rem;
}

.step-container{
    cursor: pointer;
}

